body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.stone {
    position:relative;
}
.stone:before{
    position:absolute;
    background-size:cover;
    opacity: .5;
    background-image:url(images/1920_1080_20100518125124376105.jpg);
    content:"";
    z-index:1;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.content{
    position:relative;
    z-index:2
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#map {
    height: 300px;
    width: 50%;
   margin-top: 45px;
}


.user {
    border-radius: 25px;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
    align-content: center;
}
.user:hover{
    opacity:.5;
}


